/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/
html,
body {
    min-height: 100vh;
}
body {
    font-family: "Work Sans";
    font-size: 14px;
    background-color: #fffef8;
}
#page {
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1 > span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav li {
    padding: 0 10px;
    font-size: 1.2em;
}
nav li.active {
    font-weight: bold;
}
nav li a {
    color: #000;
    text-decoration: none;
}

li:hover,
li a:hover {
    color: #b1663c;
}
main {
    flex: 1;
}
#introduction {
    display: flex;
    align-items: center;
}
#introduction figure {
    flex: 1;
}
#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1;
}
#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}
#portfolio-header {
    margin-bottom: 2em;
}
#portfolio h2 {
    text-align: center;
}
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
}
.form {
    width: 50%;
    margin: auto;
}
.form > * {
    text-align: center;
}
.form h2 {
    margin-bottom: 20px;
}
.form form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.form input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form label {
    margin: 2em 0 1em 0;
}
.form textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"],
button.primary {
    font-family: "Syne";
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
    cursor: pointer;
}

button.primary {
    border: none;
    padding: 1rem 2rem;
    width: auto;
    margin: 0;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}

/* Filters */
.filters {
    display: flex;
    gap: 1em;
    margin-bottom: 30px;
    justify-content: center;
}

.filters-item {
    border: 1px solid #1d6154;
    border-radius: 16px;
    color: #1d6154;
    padding: 0.5em;
    min-width: 60px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-family: "Syne";
    font-size: 16px;
}

.filters-item.active {
    background-color: #1d6154;
    color: #fff;
    cursor: default;
}

/* Log in */
.forgotten-password {
    text-align: center;
}

.forgotten-password a {
    color: #3d3d3d;
    font-size: 14px;
    font-family: "Work Sans";
}

.nav-logout {
    display: none;
}

.is-authenticated .nav-login {
    display: none;
}

.is-authenticated .nav-logout {
    display: block;
}

.edit-button {
    display: none;
}

.is-authenticated #portfolio-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.is-authenticated .edit-button {
    display: flex;
    gap: 8px;
    border: none;
    background: none;
    outline: none;
    font-family: "Work Sans";
    font-size: 14px;
    cursor: pointer;
}

.edition-mode-banner {
    display: none;
}

.is-authenticated .edition-mode-banner {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
}

.edition-mode-banner p {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

/* Modal */
#modal {
    display: none;
}

#modal.visible {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

#modal .button-close img {
    width: 2rem;
    height: 2rem;
}

div.modal-content {
    width: 630px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    padding: 0 30px;
    text-align: center;
}

.modal-content .modal-buttons {
    background-color: black;
    width: 100%;
}

.modal-buttons .button-back,
.modal-buttons .button-close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
}

.modal-buttons .button-back {
    left: 15px;
    display: none;
}

.modal-buttons .button-close {
    right: 15px;
}

.modal-content section:not(.active) {
    display: none;
}

.modal-content section {
    padding: 0 50px;
}

.modal-content h2 {
    color: #000000;
    font-size: 1.75em;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
}

#edit-gallery .work-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1.5rem;
    column-gap: 0.8rem;
}

#edit-gallery .work-list img {
    width: 100px;
}

#edit-gallery .work-list-item {
    position: relative;
}

#edit-gallery .delete-work {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-color: #000000;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#edit-gallery .delete-work img {
    width: 11px;
}

#edit-gallery hr {
    opacity: 0.5;
    margin: 4rem 0 2rem 0;
}

#add-work form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#add-work form .image-input-group {
    background-color: #e8f1f6;
    border-radius: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-work form .image-input-group .preview {
    display: none;
}

#add-work form .image-input-group .input-controls {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#add-work form .image-input-group .input-controls .icon {
    height: 3.5rem;
    width: auto;
}

#add-work form .image-input-group .input-controls input {
    display: none;
}

#add-work form .image-input-group .input-controls label {
    background-color: #cbd6dc;
    color: #306685;
    padding: 1em 2em;
    font-family: "Work Sans";
    font-size: 1em;
    border-radius: 20px;
    cursor: pointer;
}

#add-work form .image-input-group .input-controls span {
    color: #444444;
    font-size: 0.8em;
}

#add-work form .input-group {
    display: flex;
    flex-direction: column;
}

#add-work form .input-group label {
    margin: 2em 0 1em 0;
    text-align: left;
}

#add-work form .input-group input,
#add-work form .input-group select {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#add-work form .input-group select {
    background-color: #ffffff;
}

#add-work hr {
    margin-top: 2rem 0;
    width: 100%;
    opacity: 0.2;
}
